<div class="Signup-wrapper">

    <fieldset>
        <legend>Signin</legend>
        <div class="Signup-inputs">
            <input type="number" name="" id="bk_acno" placeholder="Enter Account Number">
        </div>
        <div class="Signup-inputs">
            <input type="password" name="" id="bk_pwd" placeholder="Enter Account Password">
        </div>
        <div class="Button-wrapper">
            <button class="btn-grad" onclick="obj.accoutLogin()">Sign-In</button>  
        </div>
    </fieldset> 

<span>Don't you have account? <a href="sign-up.html">sign-up</a></span>
</div>